main {
  padding-bottom: 100%;
}

h2 {
  display: flex;
  padding: var(--simpel-padding);
}

section {
  padding: var(--simpel-padding);
}

.slide-show {
  width: 50vw;
}

@media (min-width: 1024px) {
  body {
    margin-top: 4.6em;
  }
}

@media (min-height: 600px) {
  main {
    padding-bottom: 0;
  }
}
