form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

input[type="text"] {
  width: 9em;
  padding: var(--simpel-padding);
}

textarea {
  width: 15em;
  padding: var(--simpel-padding);
}

input[type="email"] {
  width: 15em;
  padding: var(--simpel-padding);
}

input[type="submit"] {
  border: none;
  padding: 0.5em;
  width: 10em;
}

.form-section {
  padding: var(--simpel-padding);
}

@media (min-width: 1024px) {
  .form-section {
    height: 65%;
    margin-top: 4.4em;
  }
}
