body {
  padding: 0 1em 1em 1em;
}

ul {
  padding: 1em 2em;
}

.main-title {
  position: absolute;
  left: 0;
  padding-top: 0.5em;
}

.main-nav {
  position: fixed;
  bottom: 5em;
  right: 0;
  width: 100%;
  margin: 0;
}

@media (min-width: 1024px) {
  .main-title {
    margin: 0;
  }
  .main-nav {
    bottom: 15em;
  }
}
